# Ignore node modules and Next.js build
node_modules/
phishing-frontend/.next/
phishing-frontend/package-lock.json

# Python environment and cache
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# VSCode or other editor files
.vscode/
*.code-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter notebook checkpoints
*.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp
